@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,800;1,500&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,200;0,300;0,400;1,200;1,300&display=swap');

.content-container{
  font-family: 'Quicksand';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bot-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.bot-card-container {
  max-width: 100px; 
  margin: 0 auto;
}

.bot-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
}

.bot-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.bot-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.bot-details {
  margin-top: 10px;
}

.bot-collection {
  background-color: #39FF14;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
